/* I added a few potential fonts we can use and
set the width of the devs at a fixed pixel width 
(that's what it seems like major websites are doing) */

*{
    /* font-family: "ProximaNovaCond",sans-serif;  */
    /* font-family: Arial, Helvetica, sans-serif;	 */
    /* font-family: Tahoma, Geneva, sans-serif;   */
    font-family: "Trebuchet MS", Helvetica, sans-serif; 
    /* font-family: Verdana, Geneva, sans-serif;  */
}
body{
    background-color: #ededed; 
}
#wrap{
    display: block; 
    margin: auto; 
    width: 1200px; 
}
#header{
    background-color: #1ed4d4; 
    background: #1ed4d4; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #52ebeb, #14afaf); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #52ebeb, #14afaf); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #52ebeb, #14afaf); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #52ebeb, #14afaf); /* Standard syntax */
    width: 100%; 
    margin: 1px; 
    padding: 5px 5px 15px 15px; 
    height: 60px; 
    border-bottom: 5px solid #cad2d3; 
}
#name{
    display: inline-block; 
}
#user{
    display: inline-block; 
    position: absolute; 
    right: 5px; 
    padding: 20px;  
}
#nav{
    display: inline-block; 
    background-color: white; 
    width: 250px; 
    height: 700px; 
    margin: 2px 4px 0px 20px ; 
    padding: 4px; 
    vertical-align: top; 
}
#main{
    display: inline-block; 
    border: 1px solid #e0e2e2; 
    background-color: white; 
    width: 600px; 
    height: 900px;
    margin: 1px; 
    padding: 5px;  
}
#ad{
    display: inline-block; 
    width: 125px; 
    height: 400px; 
    background-color: pink; 
    margin: 1px; 
    padding: 3px; 
    vertical-align: top;
    font-weight: bold;   
}